@using HomeSite.Entities
@model ServerViewModel
@{
    ViewData["Title"] = "Minecraft server";
}
<div class=" d-flex text-center align-items-center align-content-center justify-content-center flex-column">
    <div class="text-muted">
        <h1 class="text-white display-4">Сервер</h1>
    </div>

    <p></p>
    @if (Model.ServerCreation == ServerCreation.notCreated)
    {
        <div class="d-flex align-content-center justify-content-center flex-column">
            <p id="text-top">
                Похоже у тебя еще нет сервера
            </p>
            <a asp-action="create" asp-controller="Server" class="btn btn-green text-white">Создать сервер</a>
            <div id="loading" class="loader hideFZ"></div>
        </div>
    }
    else if(Model.ServerCreation == ServerCreation.AddingMods)
    {
        <div class="list-group" style="min-width: 250px;">
            <a class="list-group-item d-flex list-group-item-action justify-content-between align-items-start" asp-controller="Server" asp-action="configure" asp-route-id="@Model.OwnServer.Id">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">@Model.OwnServer!.Name</div>
                    @Model.OwnServer!.Description
                </div>
                <span class="badge bg-warning text-warning rounded-pill">-</span>
            </a>
        </div>
    }
    else
    {
        <div class="list-group">
            <a class="list-group-item d-flex list-group-item-action justify-content-between align-items-start" asp-controller="Server" asp-action="See" asp-route-id="@Model.OwnServer.Id">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">@Model.OwnServer!.Name</div>
                    @Model.OwnServer!.Description
                </div>
                <span class="badge bg-danger text-danger rounded-pill">-</span>
            </a>
        </div>
    }
    <span class="text-muted display-6">Разрешенные сервера</span>
    @if(Model.AllowedServers == null)
    {
        <p id="text-top">
            Разрешенных серверов нет :(
        </p>
    }
    else
    {
        <div class="list-group">
            @foreach(MinecraftServerWrap server in Model.AllowedServers)
            {
                <a class="list-group-item d-flex justify-content-between list-group-item-action align-items-start" asp-controller="Server" asp-action="See" asp-route-id="@server.Id">
                    <div class="ms-2 me-auto">
                        <div class="text-center fw-bold">@server.Name</div>
                        <span class="text-center">@server.Description</span>
                    </div>
                    @if(server.IsRunning)
                    {
                        <span class="badge bg-green text-green rounded-pill">-</span>
                    }
                    else
                    {
                        <span class="badge bg-danger text-danger rounded-pill">-</span>
                    }

                </a>
            }
        </div>
    }
</div>