@using HomeSite.Generated
@model ServerIdViewModel
@{
    ViewData["Title"] = "Minecraft server";
}
@section Meta {
    <meta property="og:title" content="@Model.ServerDesc.Name" />
    <meta property="og:description" content="@Model.ServerDesc.Description | @Model.Core @Model.Version" />
    <meta property="og:type" content="website" />
}

<link rel="stylesheet" href="~/css/server.css?v=7" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class=" d-flex justify-content-center ">
    <h1 class="text-white display-5">@Model.ServerDesc.Name</h1>
</div>
<div class="m-2 mb-3 flex-wrap d-flex text-center align-items-center align-content-center justify-content-evenly gap-2">
    <div class="input-group" style="max-width: 500px;">
        <span class="input-group-text">Адрес</span>
        <button id="copyAddr" class="form-control">@Model.PublicAddress
            <span id="copiedBadge" class="position-absolute top-0 translate-middle margin-badge badge ms-4 bg-green p-2 hide">скопировано<span class="visually-hidden">copied</span></span>
        </button>
    </div>
    <div class="row">
        <div class="col-12 col-md-auto">
            <div class="input-group">
                <span class="input-group-text">Ядро</span>
                <span class="form-control" />@Model.Core
            </div>
        </div>
        <div class="col-12 col-md-auto">
            <div class="input-group mt-md-0 mt-1">
                <span class="input-group-text">Версия</span>
                <span class="form-control" />@Model.Version
            </div>
        </div>
    </div>
    <div class="input-group" style="max-width: 500px;">
        <span class="input-group-text">Описание</span>
        <span class="form-control" />@Model.ServerDesc.Description
    </div>
</div>
<div class="d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">
            <!-- Консоль сервера -->
            <div class="col-lg-9 col-md-12">
                <div class="log-holder d-block">
                    <div class="log-header d-flex justify-content-center"><h4 class="mx-auto" style="padding-top: 7px">Консоль</h4></div>
                    <div id="logs" class="log-win">
                        <em style="white-space: pre-line">@Model.logs</em>
                    </div>
                    <div class="log-entry-holder input-group">
                        <input id="commandInput" type="text" class="form-control" placeholder="console..." />
                        @if(Model.ServerState == ServerState.started)
                        {
                            @if(Model.SharedRights.SendCommands)
                            {
                                <button id="sendCommand" class="btn btn-green text-white">Отправить</button>
                            }
                            else
                            {
                                <button id="sendCommand" class="btn btn-green text-white" disabled>Отправить</button>
                            }
                        }
                        else
                        {
                            <button id="sendCommand" class="btn btn-green text-white" disabled>Отправить</button>
                        }
                    </div>
                </div>
            </div>

            <!-- Кнопки управления сервером -->
            <div class="col-lg-3 col-md-12 mt-3 mt-lg-0 d-flex justify-content-center">

                <div class="btn-container align-items-center">
                    <div class="d-flex flex-row">
                        @switch (Model.ServerState)
                        {
                            case ServerState.starting:
                                <p id="text-top">Сервер запускается</p>
                                <div id="loading" class="loader showFZ ms-1"></div>
                                <span id="check" class="checkmark hideFZ ms-3">
                                    <div class="checkmark_stem"></div>
                                    <div class="checkmark_kick"></div>
                                </span>
                                <span id="cross" class="cross ms-2 hideFZ">
                                    <div class="cross_stem_l"></div>
                                    <div class="cross_stem_r"></div>
                                </span>
                                break;
                            case ServerState.started:
                                <p id="text-top">Сервер запущен</p>
                                @* <div id="loading" class="loader hideFZ ms-1"></div> *@
                                <span id="check" class="checkmark showFZ ms-3">
                                    <div class="checkmark_stem"></div>
                                    <div class="checkmark_kick"></div>
                                </span>
                                @* <span class="hideFZ" id="timerSpan">Время на подключение<span id="timer">5:00</span></span> *@
                                break;
                            case ServerState.stopped:
                                <p id="text-top">
                                    Сервер не запущен.
                                </p>
                                <div id="loading" class="loader hideFZ ms-1"></div>
                                <span id="check" class="checkmark hideFZ ms-3">
                                    <div class="checkmark_stem"></div>
                                    <div class="checkmark_kick"></div>
                                </span>
                                break;
                        }
                    </div>
                    <span class="hideFZ" id="timerSpan"><span id="timer">5:00</span></span>
                    @if(!Model.IsRunning)
                    {
                        @if(Model.SharedRights.StartStopServer)
                        {
                            <button class="btn btn-green" id="start-server">Staaaaaaaaaaaart</button>
                        }
                        else
                        {
                            <button class="btn btn-green" id="start-server" disabled>Staaaaaaaaaaaart</button>
                        }

                    }
                    else
                    {
                        @switch(Model.ServerState)
                        {
                            case ServerState.starting:
                                <button class="btn btn-danger" id="stopServer" disabled>Выключить</button>
                            break;

                            case ServerState.started:
                                @if (Model.SharedRights.StartStopServer)
                                {
                                    <button class="btn btn-danger" id="stopServer">Выключить</button>
                                }
                                else
                                {
                                    <button class="btn btn-danger" id="stopServer" disabled>Выключить</button>
                                }
                            break;
                        }
                    }
					@*<button class="btn btn-danger">Остановить сервер</button>
                    <button class="btn btn-warning">Перезапустить сервер</button> *@
                    
                    @if(Model.SharedRights.EditMods)
                    {
                        if (Model.Core != "Paper")
                        {
                            <a class="btn btn-green" href="/server/configure/@Model.ServerDesc.Id/mods" class="btn btn-info">Управление модами</a>
                        }
                        else
                        {
                            <a class="btn btn-green" href="/server/configure/@Model.ServerDesc.Id/plugins" class="btn btn-info">Управление плагинами</a>
                        }
                    }
                    @if(Model.SharedRights.EditServerPreferences)
                    {
                        <a class="btn btn-green" href="/server/configure/@Model.ServerDesc.Id" class="btn btn-info">Настройки сервера</a>
                    }
                    @if(Model.SharedRights.SeeServerFiles)
                    {
                        <a class="btn btn-green" href="/server/see/@Model.ServerDesc.Id/files" class="btn btn-info">Файлы сервера</a>
                    }
                    <button id="getLogsBtn" class="btn btn-primary">Скачать логи</button>

                    @if(Model.SharedRights.AddShareds)
                    {
                        <div class="d-flex flex-column align-items-center mt-auto">
						    <label class="">Разрешенные пользователи</label>
                            <div class="log-holder overflow-auto" style="height: 150px; border-color: #4d4d4d;">
                                @foreach(string username in Model.AllowedUsers)
                                {
                                    <a asp-action="Allow" asp-controller="Server" asp-route-user="@username" asp-route-id="@ViewBag.ThisId" style="height: 50px;" class="d-flex align-items-center justify-content-between btn-transparent btn w-100">
                                        @username
                                        <i class="fa fa-pencil" style="font-size:24px;color:#0F0;"></i>
                                    </a>
                                    <hr style="padding: 0px;margin: 0px;" />
                                }
                                <button id="addUserBtn" style="height: 50px;" class="d-flex align-items-center justify-content-between btn-transparent btn w-100">
								    Добавить пользователя
                                    <span class="plus mb-1">
                                        <div class="plus_stem_l"></div>
                                        <div class="plus_stem_r"></div>
                                    </span>
                                </button>
                                <div id="addUserInputGroup" class="input-group mb-1 hideFZ mt-1">
                                    <label class="input-group-text">Имя</label>
                                    <input id="addUserInput" class="form-control" />
                                    <button id="confirmAddUserBtn" class="btn btn-green">
                                        <span id="check" class="checkmark" >
                                            <div style="background-color: white;" class="checkmark_stem ms-2"></div>
                                            <div style="background-color: white;" class="checkmark_kick ms-2"></div>
                                        </span>
                                    </button>
                                </div>
                                <hr style="padding: 0px;margin: 0px;" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<section class="mt-3 layout gap-2">
    <label class="grow1 players text-center">
        <h1>ИГРОКИ</h1>
        <p id="players-online">Онлайн: еще нет</p>
    </label>
    <div class="grow1 ram text-center">
        <h1>RAM</h1>
        <span id="ram-free">Свободно: хз MB</span>
        <span id="ram-usage">Использование:  еще нет%</span>
    </div>
</section>
@* <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.7/signalr.min.js"></script> *@
<script src="~/js/server.js?v=8"></script>